.yuntech_right {
	float: right;
	width: 20%;
}
.yuntech_content {
	float: left;
	width: 80%;
}
.contents
{
	max-width:866px;
}
.yuntech-main:after {
        content:"";
        display: table;
        clear: both;
		max-width:866px; 
		margin:0 auto;
    }
.backstretch img {
	cursor: pointer;
}
ul.menu {
	max-width: 866px;
	text-align: left;
}
div.backstretch > a {
	display: block;
	position: absolute;
}
div.backstretch > spotlightall {
	display: block;
	position: absolute;
}
div.backstretch > a.spotlightall {
	height: 100%;
	left: 0;
	top: 0;
	width: 100%;
}
div.backstretch > a.a {
	height: 40%;
	left: 0;
	top: 0;
	width: 30%;
}
div.backstretch > a.b {
	height: 54%;
	right: 0;
	top: 0;
	width: 30%;
}
div.backstretch > a.c {
	bottom: 0;
	height: 58%;
	left: 0;
	width: 30%;
}
div.backstretch > a.d {
	bottom: 0;
	height: 42%;
	right: 0;
	width: 30%;
}
#header {
	background: url("../images/logo_new_bg.png") repeat-x scroll left top rgba(0, 0, 0, 0);
	height: 74px;
}
div.top_menu_spotlight #js-mainnav.megamenu {
	float: left;
}
.header-inner {
	padding-top: 5px;
}
.popup_news_title {
	color: #FFF !important;
	background-color: #ED6F00 !important;
	border: solid 1px #EFEA3A !important;
	font-size: 14px;
}
#q {
	width: 110px;
	border: none;
	margin: 0;
}
#sa {
	background: url("../images/search.png") no-repeat scroll #009599;
	font-size: 0;
	width: 16px;
	height: 16px;
	cursor: pointer;
	font-size: 0;
	margin: 0;
	overflow-x: hidden;
	overflow-y: hidden;
	outline-style: none;
	border: none;
	padding: 0;
}
.popup_honor_title {
	color: #FFF !important;
	background-color: #FF3399 !important;
	border: solid 1px #FF9AFF !important;
	font-size: 14px;
}
.popup_event_title {
	color: #FFF !important;
	background-color: #009999 !important;
	border: solid 1px #33FFCF !important;
	font-size: 14px;
}
.popup_job_title {
	color: #FFF !important;
	background-color: #6666FF !important;
	border: solid 1px #ABABFF !important;
	font-size: 14px;
}
.popup_hot_title {
	color: #FFF !important;
	background-color: #CC0000 !important;
	border: solid 1px #FCCDD2 !important;
	font-size: 14px;
}
.hot_list_image {
	margin-left: 60px;
	padding-top: 30px;
	width: 98%;
}
.hot_list_image_item {
	float: left;
	list-style: none outside none;
	padding: 2px;
}
.category {
	font-size: 18px;
}
#js-meganav ul.megamenu li.mega {
	border-style: solid;
	border-width: 0 0 0 1px;
	border-color: #096863;
}
.news_area_all {
	width: 99%;
	float: left;
	text-align: center;
	background-color: #9e9f90;
	font-size: 16px;
}
a.campus_news_area_link:link, a.campus_news_area_link:visited {
	color: #FFFFFF;
}
a.campus_news_area_link:hover {
	color: #FFFFFF;
	text-decoration: none;
}
a.news_clippings_area_link:link, a.news_clippings_area_link:visited {
	color: #FFFFFF;
}
a.news_clippings_area_link:hover {
	color: #FFFFFF;
	text-decoration: none;
}
a.yuntech_division_area_link:link, a.yuntech_division_area_link:visited {
	color: #FFFFFF;
}
a.yuntech_division_area_link:hover {
	color: #FFFFFF;
	text-decoration: none;
}
a.e_paper_area_link:link, a.e_paper_area_link:visited {
	color: #FFFFFF;
}
a.e_paper_area_link:hover {
	color: #FFFFFF;
	text-decoration: none;
}
a.spotlight_area_link:link, a.spotlight_area_link:visited {
	color: #FFFFFF;
}
a.spotlight_area_link:hover {
	color: #FFFFFF;
	text-decoration: none;
}
.campus_news_area_all:hover {
	background-color: #33cc33;
}
.news_clippings_area_all:hover {
	background-color: #ff9933;
}
.yuntech_division_area_all:hover {
	background-color: #ff0066;
}
.e_paper_area_all:hover {
	background-color: #8a63ca;
}
.spotlight_area_all:hover {
	background-color: #009cff;
}
.campus_news_area_all {
	min-width: 20%;
	float: left;
	padding: 6px 15px 6px 15px;
	border: solid 1px #FFFFFF;
}
.news_clippings_area_all {
	min-width: 20%;
	float: left;
	padding: 6px 15px 6px 15px;
	border: solid 1px #FFFFFF;
}
.yuntech_division_area_all {
	min-width: 20%;
	float: left;
	padding: 6px 15px 6px 15px;
	border: solid 1px #FFFFFF;
}
.e_paper_area_all {
	min-width: 20%;
	float: left;
	padding: 6px 15px 6px 15px;
	border: solid 1px #FFFFFF;
}
.spotlight_area_all {
	min-width: 20%;
	float: left;
	padding: 6px 15px 6px 15px;
	border: solid 1px #FFFFFF;
}
#js-meganav ul.megamenu li:nth-child(8) {
	border-style: solid;
	border-width: 0 1px 0 1px;
	border-color: #096863;
}
.menu_link_dept {
	display: block;
	float: right;
	position: relative;
	text-align: right;
	top: -22px;
	width: 20px !important;
	right: 5px;
}
#spotlight_top {
	border-bottom: 1px solid #FFFFFF;
	height: 23px;
	position: relative;
	width: 100%;
	color: #fff;
}
span#spotlight_top_c {
	font-size: 14px;
	position: relative;
	font-family: Tahoma, Geneva, sans-serif;
	font-weight: bold;
}
.spotlight_top_yuntech {
	float: right;
	font-size: 8px;
	position: relative;
	padding-top: 6px;
}
.random-image {
	width: 100%;
}
.random-image img {
	width: 100%;
	height: auto;
}
a.spotlight_title_link:link, a.spotlight_title_link:visited {
	color: #FFFFFF;
	font-size: 28px;
}
a.spotlight_title_link:visited, a.spotlight_title_link, a.spotlight_title_link:hover, .spotlight_title_link {
	color: #FFFFFF;
	font-size: 28px;
	text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.15);
}
a.spotlight_list_link:link, a.spotlight_list_link:visited {
	color: #FFFFFF;
}
a.spotlight_list_link:hover {
	color: #EFE603;
}
a.spotlight_list_link_1:link, a.spotlight_list_link_1:visited {
	color: #FFFFFF;
}
a.spotlight_list_link_1:hover {
	color: #EFE603;
}
a.spotlight_list_link_2:link, a.spotlight_list_link_2:visited {
	color: #FFFFFF;
}
a.spotlight_list_link_2:hover {
	color: #EFE603;
}
a.spotlight_list_link_3:link, a.spotlight_list_link_3:visited {
	color: #FFFFFF;
}
a.spotlight_list_link_3:hover {
	color: #EFE603;
}
a.spotlight_more_link:link, a.spotlight_more_link:visited {
	color: #FFFFFF;
}
a.spotlight_more_link:hover {
	color: #EFE603;
}
.spotlight_more {
	bottom: 5px;
	color: #FFFFFF;
	display: block;
	position: absolute;
	right: 0;
	text-align: right;
	width: 305px;
	z-index: 2;
	bottom: 4px;
}
.spot_light_show_ss {
	max-width: 305px !important;
}
.iframe_google_map {
	max-width: 600px !important;
	max-height: 400px !important;
}
.popup_speech {
	max-width: 620px !important;
	max-height: 360px !important;
}
.speech_popup_area {
	padding: 0 10px 0 10px;
}
.speech_p_info {
	padding: 10px 10px 10px 10px;
}
.speech_p_info .qtip-content {
	line-height: 1.5;
	font-size: 12px;
}
#search_p tr:nth-child(even) {
	background-color: #ededed;
}
.iframe_google_map .qtip-content {
	padding: 1px 1px 1px 1px;
}
.iframe_google_map .qtip-titlebar #qtip-2-title {
	text-align: right;
}
.spot_light_show_ss .qtip-content {
	padding: 0;
}
#spotlight_description_area {
	font-size: 12px;
}
#spotlight_description_index {
	color: #FFFFFF;
}
#yuntech-mainnav {
	margin: 0 auto;
	max-width: 866px;
	width: 866px\0/IE9;
}
#yuntech-menu {
	background: url("../images/menu_bg.png") repeat scroll left top rgba(0, 0, 0, 0);
	display: table\0/IE9;
	width: 100%\0/IE9;
}
div.logo {
	padding: 11px 0 5px 2px;
	max-width: 100%;
	max-height: auto;
}
div.logo-aacsb {
	padding: 11px 0 5px 15px;
	max-width: 100%;
	max-height: auto;
}
#inner {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 138px;
	text-align: center;
	background-color: #ed6f00;
}
#yuntech_spotlight {
	position: absolute;
	bottom: 138px;
	width: 100%;
	height: 138px;
	text-align: left;
	background: url("../images/spotlight_bg_138.png") repeat-x scroll left bottom rgba(0, 0, 0, 0);
}
.speech_image {
	max-height: 20px;
	max-width: 20px;
}
.youtube_image {
	max-height: 20px;
	max-width: 20px;
}
.facebook_image {
	max-height: 20px;
	max-width: 20px;
}
#spotlight_area {
	height: 138px;
	margin: 0 auto;
	max-width: 866px;
	position: relative;
	bottom: 0;
}
#main_spotlight {
	width: 540px;
	float: left;
	text-align: left;
}
#spotlight_list {
	display: block;
	float: right;
	padding-top: 30px;
	text-align: left;
	width: 305px;
	color: #FFF;
}
#spotlight_image {
	bottom: 55px;
	color: #FFFFFF;
	display: block;
	float: right;
	height: 172px;
	position: absolute;
	right: 0;
	text-align: left;
	width: 305px;
}
.spotlight_list_content {
	padding-left: 5px;
	list-style: none;
}
.spotlight_list_item {
	padding: 3px 0 3px 0;
	border-bottom: 1px solid #FFFFFF;
}
.spotlight_list_item_1 {
	padding: 3px 0 3px 0;
	border-bottom: 1px solid #FFFFFF;
}
.spotlight_list_item_2 {
	padding: 3px 0 3px 0;
	border-bottom: 1px solid #FFFFFF;
}
.spotlight_list_item_3 {
	padding: 3px 0 3px 0;
	border-bottom: 1px solid #FFFFFF;
}
.inner_news {
	background-color: #ed6f00 !important;
}
.inner_honor {
	background-color: #ff3399 !important;
}
.inner_event {
	background-color: #009999 !important;
}
.inner_job {
	background-color: #6666ff !important;
}
.inner_hot {
	background-color: #cc0000 !important;
	;
}
.more_table {
	width: 100%;
}
.more_table_campus_news {
	width: 100%;
}
.more_title_head_campus_news {
	width: 85%;
	font-size: 16px;
	text-align: center;
	background-color: #33cc33;
	padding: 3px 0 3px 0;
	color: #ffffff;
}
.more_date_head_campus_news {
	width: 15%;
	font-size: 16px;
	text-align: center;
	background-color: #33cc33;
	padding: 3px 0 3px 0;
	color: #ffffff;
}
.more_title_index_spotlight {
	padding: 3px 3px 3px 8px;
}
.more_title_index_honor a:link, .more_title_index_honor a:visited {
	color: #604c3f;
}
.more_title_index a:hover {
	color: #036EB7;
}
tr.more_tr_campus_news:hover td {
	background: #dcf4c9
}
tr.more_tr_yuntech_division:hover td {
	background: #ffe6f2
}
.more_table_news_clippings {
	width: 100%;
}
.more_title_head_news_clippings {
	width: 70%;
	font-size: 16px;
	text-align: center;
	background-color: #ff9933;
	padding: 3px 0 3px 0;
	color: #ffffff;
}
.more_category_head_news_clippings {
	width: 20%;
	font-size: 16px;
	text-align: center;
	background-color: #ff9933;
	padding: 3px 0 3px 0;
	color: #ffffff;
}
.more_category_head_yuntech_divisions {
	width: 20%;
	font-size: 16px;
	text-align: center;
	background-color: #ff0066;
	padding: 3px 0 3px 0;
	color: #ffffff;
}
.more_date_head_news_clippings {
	width: 10%;
	font-size: 16px;
	text-align: center;
	background-color: #ff9933;
	padding: 3px 0 3px 0;
	color: #ffffff;
}
.more_title_index_news_clippings {
	padding: 3px 3px 3px 8px;
}
.more_category_index_news_clippings a:link, .more_category_index_news_clippings a:visited {
	color: #604c3f;
}
.more_category_index_news_clippings a:hover {
	color: #036EB7;
}
.more_category_index_yuntech_division a:link, .more_category_index_yuntech_division a:visited {
	color: #604c3f;
}
.more_category_index_yuntech_division a:hover {
	color: #036EB7;
}
.more_table_nyuntech_division {
	width: 100%;
}
.more_title_head_yuntech_division {
	width: 70%;
	font-size: 16px;
	text-align: center;
	background-color: #ff0066;
	padding: 3px 0 3px 0;
	color: #ffffff;
}
.more_category_head_yuntech_division {
	width: 20%;
	font-size: 16px;
	text-align: center;
	background-color: #ff0066;
	padding: 3px 0 3px 0;
	color: #ffffff;
}
.more_date_head_yuntech_division {
	width: 10%;
	font-size: 16px;
	text-align: center;
	background-color: #ff0066;
	padding: 3px 0 3px 0;
	color: #ffffff;
}
.more_title_index_yuntech_division {
	padding: 3px 3px 3px 8px;
}
.more_title_index_honor a:link, .more_title_index_honor a:visited {
	color: #604c3f;
}
.more_title_index a:hover {
	color: #036EB7;
}
tr.more_tr_news_clippings:hover td {
	background: #ffddd9
}
.more_table_honor {
	width: 100%;
}
.k2Pagination li {
	padding: 0 5px 0 5px;
}
.more_title_head {
	width: 65%;
	font-size: 16px;
	text-align: center;
	background-color: #ff9e12;
	padding: 3px 0 3px 0;
	color: #ffffff;
}
.more_category_head {
	width: 20%;
	font-size: 16px;
	text-align: center;
	background-color: #ff9e12;
	padding: 3px 0 3px 0;
	color: #ffffff;
}
.more_date_head {
	width: 15%;
	font-size: 16px;
	text-align: center;
	background-color: #ff9e12;
	padding: 3px 0 3px 0;
	color: #ffffff;
}
.more_title_index {
	padding: 3px 3px 3px 8px;
}
.more_category_index {
	padding: 3px;
}
.more_date_index {
	padding: 3px;
	text-align: center;
}
.more_title_index a:link, .more_title_index a:visited {
	color: #604c3f;
}
.more_title_index a:hover {
	color: #036EB7;
}
.more_category_index a:link, .more_category_index a:visited {
	color: #604c3f;
}
.more_category_index a:hover {
	color: #036EB7;
}
.more_title_head_honor {
	width: 65%;
	font-size: 16px;
	text-align: center;
	background-color: #ff407f;
	padding: 3px 0 3px 0;
	color: #ffffff;
}
.more_category_head_honor {
	width: 20%;
	font-size: 16px;
	text-align: center;
	background-color: #ff407f;
	padding: 3px 0 3px 0;
	color: #ffffff;
}
.more_date_head_honor {
	width: 15%;
	font-size: 16px;
	text-align: center;
	background-color: #ff407f;
	padding: 3px 0 3px 0;
	color: #ffffff;
}
.more_title_index_honor {
	padding: 3px 3px 3px 8px;
}
.more_category_index {
	padding: 3px;
}
.more_date_index_honor {
	padding: 3px;
	text-align: center;
}
.more_date_index_job {
	padding: 3px;
	text-align: center;
}
.more_title_index_honor a:link, .more_title_index_honor a:visited {
	color: #604c3f;
}
.more_title_index a:hover {
	color: #036EB7;
}
.more_category_index_honor a:link, .more_category_index_honor a:visited {
	color: #604c3f;
}
.more_category_index a:hover {
	color: #036EB7;
}
tr.more_tr_job:hover td {
	background: #e1dcff
}
.more_table_job {
	width: 100%;
}
tr.more_tr_event {
	background: #c5e2c5;
	display: block;
	top: 19px;
	display: table;
	margin: 19px 0 19px 0;
}
.more_table_event {
	width: 100%;
}
.more_title_head_event {
	width: 65%;
	font-size: 16px;
	text-align: center;
	background-color: #55a255;
	padding: 3px 0 3px 0;
	color: #ffffff;
}
.more_category_head_event {
	width: 20%;
	font-size: 16px;
	text-align: center;
	background-color: #ff407f;
	padding: 3px 0 3px 0;
	color: #ffffff;
}
.more_date_head_event {
	width: 15%;
	font-size: 16px;
	text-align: center;
	background-color: #ff407f;
	padding: 3px 0 3px 0;
	color: #ffffff;
}
.more_title_index_event {
	padding: 3px 3px 3px 8px;
	width: 85%;
}
.more_date_index_event {
	width: 5%;
	text-align: right;
	vertical-align: bottom;
	padding: 5px;
}
.more_category_index_event {
	width: 10%;
	padding: 10px;
	text-align: center;
}
.more_title_index_event a:link, .more_title_index_event a:visited {
	color: #604c3f;
}
.more_title_index a:hover {
	color: #036EB7;
}
.more_category_index_event a:link, .more_category_index_event a:visited {
	color: #604c3f;
}
.more_category_index a:hover {
	color: #036EB7;
}
.more_title_head_job {
	width: 65%;
	font-size: 16px;
	text-align: center;
	background-color: #734fff;
	padding: 3px 0 3px 0;
	color: #ffffff;
}
.more_category_head_job {
	width: 20%;
	font-size: 16px;
	text-align: center;
	background-color: #734fff;
	padding: 3px 0 3px 0;
	color: #ffffff;
}
.more_date_head_job {
	width: 15%;
	font-size: 16px;
	text-align: center;
	background-color: #734fff;
	padding: 3px 0 3px 0;
	color: #ffffff;
}
.more_title_index_job {
	padding: 3px 3px 3px 8px;
}
.more_title_index_spotlight a:link, .more_title_index_spotlight a:visited {
	color: #604c3f;
}
.more_title_index_spotlight a:hover {
	color: #036EB7;
}
.more_title_index_job a:link, .more_title_index_job a:visited {
	color: #604c3f;
}
.more_title_index a:hover {
	color: #036EB7;
}
.more_title_index_spotlight .more_title_index_spotlight a:visited {
	color: #604c3f;
}
.more_title_index_spotlight a:hover {
	color: #036EB7;
}
.more_category_index_job a:link, .more_category_index_job a:visited {
	color: #604c3f;
}
.more_category_index a:hover {
	color: #036EB7;
}
.more_category_index_spotlight a:link, .more_category_index_spotlight a:visited {
	color: #604c3f;
}
.more_category_index_spotlight a:hover {
	color: #036EB7;
}
.more_category_index_news_clippings a:link, .more_category_index_news_clippings a:visited {
	color: #604c3f;
}
.more_category_index_news_clippings a:hover {
	color: #036EB7;
}
.more_category_index_yuntech-division a:link, .more_category_index_yuntech-division a:visited {
	color: #604c3f;
}
.more_category_index_yuntech-division a:hover {
	color: #036EB7;
}
a.pagenav:link, a.pagenav:visited {
	color: #604c3f;
}
a.pagenav:hover {
	color: #036EB7;
}
.more_table_spotlight {
	width: 100%;
}
.more_date_index_spotlight {
	padding: 3px;
	text-align: center;
}
tr.more_tr_spotlight:hover td {
	background: #D4F3FF
}
.more_title_head_spotlight {
	width: 65%;
	font-size: 16px;
	text-align: center;
	background-color: #009cff;
	padding: 3px 0 3px 0;
	color: #ffffff;
}
.more_category_head_spotlight {
	width: 20%;
	font-size: 16px;
	text-align: center;
	background-color: #009cff;
	padding: 3px 0 3px 0;
	color: #ffffff;
}
.more_date_head_spotlight {
	width: 15%;
	font-size: 16px;
	text-align: center;
	background-color: #009cff;
	padding: 3px 0 3px 0;
	color: #ffffff;
}
.more_title_index_spotlight {
	padding: 3px 3px 3px 8px;
}
tr.more_tr:hover td {
	background: #fce4c8
}
div.itemListCategory {
	background: none;
	border: none;
}
div.itemHeader h2.itemTitle {
}
tr.more_tr_honor:hover td {
	background: #ffcccc
}
.latestnews_event_area {
	width: 42%;
	float: left;
	position: relativel;
	margin: 30px 5px 10px 5px;
}
.news_category {
	float: right;
	font-size: 10px;
	width: 100px;
	padding-top: 2px;
}
#y_footer {
	bottom: 0;
	max-width: 866px;
	text-align: center;
	color: #FFF;
	margin: 0 auto;
	display: table;
	font-size: 12px;
}
#i_footer {
	text-align: center;
	color: #FFF;
	margin: 0 auto;
	font-size: 12px;
	height: 46px;
	background-color: #26aba6;
	padding-top: 20px;
}
.yuntech_content {
	text-align: center;
	margin: 0 auto;
	height: auto;
	max-width: 866px;
	display: block;
	text-align: left;
	padding: 0 15px 15px 15px;
}
.yuntech_banner {
	text-align: left;
	margin: 0 auto;
	height: auto;
	max-width: 866px;
	display: block;
	text-align: left;
}
.breadcrumbs {
	text-align: left;
	margin: 0 auto;
	height: auto;
	max-width: 866px;
	display: block;
	text-align: left;
	padding: 10px 10px 5px 15px;
}
.swiper-container {
	max-width: 866px;
	height: 135px;
}
.swiper-container-hot {
	max-width: 500px;
	height: 135px;
}
.content-slide-hot {
	height: 100%;
}
.content-slide {
	padding-top: 16px;
	color: #fff;
	height: 100%;
}
.title {
	font-size: 25px;
	margin-bottom: 10px;
}
.pagination {
	display: block;
	margin: 0 auto;
	max-width: 866px;
	position: relative;
	right: 0;
	text-align: right;
	top: 43px;
	z-index: 2;
}
.swiper-pagination-switch {
	display: inline-block;
	width: 15px;
	height: 15px;
	border-radius: 10px;
	background: #999;
	box-shadow: 0px 1px 2px #555 inset;
	margin: 0 3px;
	cursor: pointer;
}
#js-mainnav #js-meganav ul.level0 li:nth-child(9) {
	display: none !important;
}
#js-mainnav #js-meganav ul.level1 li:nth-child(9) {
	display: block !important;
}
#js-mainnav #js-meganav ul.level0 li:nth-child(10) {
	display: none !important;
}
#js-mainnav #js-meganav ul.level1 li:nth-child(10) {
	display: block !important;
}
#js-mainnav #js-meganav ul.level0 li:nth-child(11) {
	display: none !important;
}
#js-mainnav #js-meganav ul.level1 li:nth-child(11) {
	display: block !important;
}
#js-mainnav #js-meganav ul.level0 li:nth-child(12) {
	display: none !important;
}
#js-mainnav #js-meganav ul.level1 li:nth-child(12) {
	display: block !important;
}
#js-mainnav #js-meganav ul.level0 li:nth-child(13) {
	display: none !important;
}
#js-mainnav #js-meganav ul.level1 li:nth-child(13) {
	display: block !important;
}
#js-mainnav #js-meganav ul.level0 li:nth-child(14) {
	display: none !important;
}
#js-mainnav #js-meganav ul.level1 li:nth-child(14) {
	display: block !important;
}
#js-mainnav #js-meganav ul.level0 li:nth-child(15) {
	display: none !important;
}
#js-mainnav #js-meganav ul.level1 li:nth-child(15) {
	display: block !important;
}
#js-mainnav #js-meganav ul.level0 li:nth-child(16) {
	display: none !important;
}
#js-mainnav #js-meganav ul.level1 li:nth-child(16) {
	display: block !important;
}
#js-mainnav #js-meganav ul.level0 li:nth-child(17) {
	display: none !important;
}
#js-mainnav #js-meganav ul.level1 li:nth-child(17) {
	display: block !important;
}
#js-mainnav #js-meganav ul.level0 li:nth-child(18) {
	display: none !important;
}
#js-mainnav #js-meganav ul.level1 li:nth-child(18) {
	display: block !important;
}
#js-mainnav #js-meganav ul.level0 li:nth-child(19) {
	display: none !important;
}
#js-mainnav #js-meganav ul.level1 li:nth-child(19) {
	display: block !important;
}
#js-mainnav #js-meganav ul.level0 li:nth-child(20) {
	display: none !important;
}
#js-mainnav #js-meganav ul.level1 li:nth-child(20) {
	display: block !important;
}
#js-mainnav #js-meganav ul.level0 li:nth-child(21) {
	display: none !important;
}
#js-mainnav #js-meganav ul.level1 li:nth-child(21) {
	display: block !important;
}
#js-mainnav #js-meganav ul.level0 li:nth-child(22) {
	display: none !important;
}
#js-mainnav #js-meganav ul.level1 li:nth-child(22) {
	display: block !important;
}
#js-mainnav #js-meganav ul.level0 li:nth-child(23) {
	display: none !important;
}
#js-mainnav #js-meganav ul.level1 li:nth-child(23) {
	display: block !important;
}
#js-mainnav #js-meganav ul.level0 li:nth-child(24) {
	display: none !important;
}
#js-mainnav #js-meganav ul.level1 li:nth-child(24) {
	display: block !important;
}
#js-mainnav #js-meganav ul.level0 li:nth-child(25) {
	display: none !important;
}
#js-mainnav #js-meganav ul.level1 li:nth-child(25) {
	display: block !important;
}
#top-meganav ul li:nth-child(9) {
	display: block !important;
}
#top-meganav ul li:nth-child(10) {
	display: block !important;
}
#top-meganav ul li:nth-child(11) {
	display: block !important;
}
#top-meganav ul li:nth-child(12) {
	display: block !important;
}
#top-meganav ul li:nth-child(13) {
	display: block !important;
}
#top-meganav ul li:nth-child(14) {
	display: block !important;
}
#top-meganav ul li:nth-child(15) {
	display: block !important;
}
#top-meganav ul li:nth-child(16) {
	display: block !important;
}
#top-meganav ul li:nth-child(17) {
	display: block !important;
}
#top-meganav ul li:nth-child(18) {
	display: block !important;
}
#top-meganav ul li:nth-child(19) {
	display: block !important;
}
#top-meganav ul li:nth-child(20) {
	display: block !important;
}
#top-meganav ul li:nth-child(21) {
	display: block !important;
}
#top-meganav ul li:nth-child(22) {
	display: block !important;
}
#top-meganav ul li:nth-child(23) {
	display: block !important;
}
#top-meganav ul li:nth-child(24) {
	display: block !important;
}
#top-meganav ul li:nth-child(25) {
	display: block !important;
}
.swiper-pagination-switch:nth-child(1) {
	background: #ed6f00;
	box-shadow: 0px 1px 2px #555 inset;
}
.swiper-pagination-switch:nth-child(2) {
	background: #ff3399;
	box-shadow: 0px 1px 2px #555 inset;
}
.swiper-pagination-switch:nth-child(3) {
	background: #00cccc;
	box-shadow: 0px 1px 2px #555 inset;
}
.swiper-pagination-switch:nth-child(4) {
	background: #6666ff;
	box-shadow: 0px 1px 2px #555 inset;
}
.swiper-pagination-switch:nth-child(5) {
	background: #cc0000;
	box-shadow: 0px 1px 2px #555 inset;
}
.swiper-active-switch {
	background: #fff !important;
}
.latestnews_news_area li {
	width: 47%;
	float: left;
	text-align: left;
	padding: 0 20px 0 0;
}
.fix_ie8_honor .latestnews_news_area li {
	padding: 0;
}
.latestnews_news_area li a:link, .latestnews_news_area li a:visited {
	color: #FFF;
}
ul.latestnews_news_area {
	padding-top: 32px;
	padding-right: 13px;
	height: 100%;
	margin-left: 72px;
	width: 100%;
}
.latestnews_news_area li a:active, .latestnews_news_area li a:hover {
	text-decoration: underline;
}
a.event_title:link, a.event_title:visited {
	color: #FFF;
	font-size: 14px;
}
#y_footer a:active, #y_footer a:hover {
	text-decoration: underline;
}
#y_footer a:link, #y_footer a:visited {
	color: #FFF;
}
#i_footer a:active, #i_footer a:hover {
	text-decoration: underline;
}
#i_footer a:link, #i_footer a:visited {
	color: #FFF;
}
a.event_title:active, a.event_title:hover {
	text-decoration: underline;
}
a.event_cat_link:link, a.event_cat_link:visited {
	color: #FFF;
	font-size: 12px;
	line-height: 1.5;
}
a.event_cat_link:active, a.event_cat_link:hover {
	text-decoration: underline;
}
.mostread_hot_link {
	display: none;
}
.mostread_hot_link li {
	float: left;
	list-style-position: inside;
	padding-left: 2px;
	text-align: left;
}
.hotlinks {
	position: absolute;
	bottom: 0;
	text-align: left;
}
.div_event_title {
	float: right;
	padding: 0;
	text-align: left;
	width: 48%;
}
.event_date {
	font-size: 12px;
}
.news_area_image {
	float: left;
	position: relative;
}
#news_area {
	bottom: 35px;
	margin: 0 auto;
	max-width: 866px;
	position: relative;
	height: 118px;
}
.rg-gallery {
	width: 100%;
	height: auto;
}
#js-mainnav.megamenu.blackwhite .childcontent-inner {
	background: url("../images/submenu_bg.png") repeat scroll left top rgba(0, 0, 0, 0);
	text-shadow: none;
	color: #FFF;
	border: none;
	padding-top: 0;
}
#sa2 {
	background: url("../images/search.gif") no-repeat scroll 0 0 #FFFFFF;
	border: medium none;
	cursor: pointer;
	font-size: 0;
	height: 18px;
	margin: 0;
	outline-style: none;
	overflow: hidden;
	padding: 0;
	width: 20px;
}
#top-meganav .megamenu li:nth-child(9) .childcontent .childcontent-inner-wrap .childcontent-inner {
}
#top-meganav .megamenu li:nth-child(6) .childcontent .childcontent-inner-wrap .childcontent-inner {
	background: url("../images/contact_submenu_bg.png") repeat scroll left top rgba(0, 0, 0, 0);
}
#js-meganav ul.megamenu li.mega {
}
#js-mainnav.megamenu.blackwhite ul.level1 li.mega span.mega, #js-mainnav.megamenu.blackwhite ul.level1 li.mega a.mega {
	text-shadow: none;
	color: #FFF;
}
#js-mainnav.megamenu.blackwhite ul.level0 li.mega span.mega, #js-mainnav.megamenu.blackwhite ul.level0 li.mega a.mega, #js-mainnav.megamenu.blackwhite .megaMenuToggle {
	padding: 8px 14px;
}
#menu603 {
	position: relative;
	top: -14px;
}
.top_menu #js-mainnav #top-meganav, .top_menu #js-mainnav #top-meganav ul.level0 {
	height: 30px;
}
#top-meganav ul li.last {
	height: 20px;
}
#yuntech-main {
	position: relative;
	z-index: 2;
	top: -1px\0/IE9;
}
#mod_search_p_searchword {
	color: #333333;
}
#top-meganav ul.level0 li .cols1 {
	top: 32px;
}
#menu604 {
	padding: 8px 15px;
}
#menu605 {
	padding: 8px 15px;
}
#menu606 {
	padding: 8px 15px;
}
#menu607 {
	padding: 8px 15px;
}
#top-meganav ul.level0 li:hover, #top-meganav ul.level0 li.active, #top-meganav ul.level0 li.over, #top-meganav ul.level0 li.haschild-over {
	background: none !important;
}
#top-spotlight ul.level0 li:hover, #top-spotlight ul.level0 li.active, #top-spotlight ul.level0 li.over, #top-spotlight ul.level0 li.haschild-over {
	background: none !important;
}
#js-mainnav {
	text-align: right;
}
#js-mainnav.megamenu.blackwhite ul.level1 li.mega:hover > a.mega, #js-mainnav.megamenu.blackwhite ul.level1 li.mega:hover > span.mega, #js-mainnav.megamenu.blackwhite ul.level1 li.mega a.mega.active, #js-mainnav.megamenu.blackwhite ul.level1 li.mega a.mega.over {
	color: #efe603 !important;
	background-color: #135853;
}
#js-mainnav.megamenu.blackwhite .group-title .menu-title {
	text-shadow: none;
	color: #efe603;
	font-size: 14px;
}
.top_menu {
	margin-top: 8px;
	display: block;
	margin-right: -5px;
	float: right;
	clear:right;
}
div.top_menu #js-mainnav.megamenu ul.level0 li.mega {
	padding-left: 6px;
	padding-top: 6px;
}
div.top_menu_spotlight #js-mainnav.megamenu ul.level0 li.mega {
	padding-left: 1px;
}
div.top_menu #js-mainnav.megamenu ul.level1 li.mega {
	padding: 0;
}
.top_menu_spotlight {
	float: right;
	padding-top: 7px;
	display: block;
}
.aacsb_area_top_100 {
	float: left;
	left: 13px;
	position: relative;
	text-align: left;
	top: 20px;
}
.memory_area {
	float: left;
	left: 13px;
	position: relative;
	text-align: left;
	top: 29px;
	letter-spacing:0.5px;
	font-size:15px;
}


.hot_news_area {
	float: left;
	position: relative;
	text-align: left;
	top: 22px;
	left: 83px;
}
sup {
	display: none;
}
.bg-logo {
	float: left;
	max-width: 330px;
}
.bg-logo-aacsb {
	float: left;
	max-width: 330px;
}

div.top_menu #js-mainnav #top-meganav ul.level0 li.mega span.mega, div.top_menu #js-mainnav #top-meganav ul.level0 li.mega a.mega {
	padding: 1px 3px;
}
div.top_menu #js-mainnav #top-meganav ul.level1 li.mega span.mega, div.top_menu #js-mainnav #top-meganav ul.level1 li.mega a.mega {
	padding: 4px 5px 1px 15px;
}
div.top_menu_spotlight #js-mainnav #top-spotlight ul.level0 li.mega span.mega, div.top_menu_spotlight #js-mainnav #top-spotlight ul.level0 li.mega a.mega {
	padding: 1px 3px;
}
div.top_menu_spotlight #js-mainnav #top-spotlight ul.level1 li.mega span.mega, div.top_menu_spotlight #js-mainnav #top-spotlight ul.level1 li.mega a.mega {
	padding: 4px 5px 1px 15px;
}
#js-mainnav #top-meganav ul.megamenu li.mega a img {
	margin-top: -9px;
}
#js-mainnav.megamenu.blackwhite ul.level1 li.mega span.mega {
	padding: 8px 15px !important;
}
#top-meganav ul.level0 li.mega a.mega:link, #top-meganav ul.level0 li.mega a.mega:visited {
	color: #FFF;
	font-size: 13px !important;
}
#top-meganav ul.level0 li.mega a.mega:active, #top-meganav ul.level0 li.mega a.mega:hover {
	text-decoration: underline;
	color: #efe603;
}
#top-spotlight ul.level0 li.mega a.mega:link, #top-spotlight ul.level0 li.mega a.mega:visited {
	color: #FFF;
	font-size: 13px !important;
}
#top-spotlight ul.level0 li.mega a.mega:active, #top-spotlight ul.level0 li.mega a.mega:hover {
	text-decoration: underline;
	color: #efe603;
}
a.aacsb_link:link, a.aacsb_link:visited {
	color: #FFF;
	letter-spacing: 1.8px;
}
a.aacsb_link:active, a.aacsb_link:hover {
	text-decoration: underline;
	color: #efe603;
	letter-spacing: 1.8px;
}
a.top_100_link:link, a.top_100_link:visited {
	color: #FFF;
}
a.top_100_link:active, a.top_100_link:hover {
	text-decoration: underline;
	color: #efe603;
}
a.memory_link:link, a.memory_link:visited {
	color: #FFF;
}
a.memory_link:active, a.memory_link:hover {
	text-decoration: underline;
	color: #efe603;
}

a.hot_news_link:link, a.hot_news_link:visited {
	color: #FFF;
}
a.hot_news_link:active, a.hot_news_link:hover {
	text-decoration: underline;
	color: #efe603;
}


#menu562 {
	border-left: 1px solid #FFFFFF;
	height: 16px;
	margin-top: 5px !important;
}
#menu562 span {
	margin-top: -2px;
}
#menu972 {
	border-left: 1px solid #FFFFFF;
	height: 16px;
	margin-top: 5px !important;
}
#menu972 span {
	margin-top: -2px;
}
#menu576 {
	border-left: 1px solid #FFFFFF;
	height: 16px;
	margin-top: 5px !important;
}
#menu576 span {
	margin-top: -2px;
}
#menu579 {
	border-left: 1px solid #FFFFFF;
	height: 16px;
	margin-top: 5px !important;
}
#menu579 span {
	margin-top: -2px;
}
#menu846 {
	border-left: 1px solid #FFFFFF;
	height: 16px;
	margin-top: 5px !important;
}
#menu846 span {
	margin-top: -2px;
}
#menu1010 {
	border-left: 1px solid #FFFFFF;
	height: 16px;
	margin-top: 5px !important;
}
#menu1010 span {
	margin-top: -2px;
}
#menu847 {
	border-left: 1px solid #FFFFFF;
	height: 16px;
	margin-top: 5px !important;
}
#menu847 span {
	margin-top: -2px;
}
.hotlinks {
	display: none;
}
.event_list_area {
	width: 50%;
	float: left;
}
.accessibility {
	position: absolute;
	width: 88px;
	height: 31px;
	right: 0px;
	bottom: 0px;
}
.i_accessibility {
	height: 31px;
	margin-right: 3px;
	margin-top: -38px;
	position: absolute;
	right: 0;
	width: 88px;
}

@media (max-width: 1029px) {
.i_accessibility {
	width: 78px;
	height: 26px;
}
}

@media (max-width: 1023px) {
.accessibility {
	display: none;
}
.yuntech_right, .yuntech_content {
  float: none;
  width: auto;
}
.latestnews_ads_area
{
	margin:5px;
	text-align:center !important;
}
.i_accessibility {
	display: none;
}
#js-mainnav.megamenu ul.level0 li.mega span.menu-title {
	text-align: left;
}
#spotlight_description_index {
	display: none;
}
#js-mainnav.megamenu.blackwhite ul.level0 li.mega span.mega, #js-mainnav.megamenu.blackwhite ul.level0 li.mega a.mega, #js-mainnav.megamenu.blackwhite .megaMenuToggle {
	text-align: left;
}
.spotlight_more {
	bottom: 4px;
}
.top_menu {
	display: none;
}
.bg-logo-aacsb {
	display: none;
}
.top_menu_spotlight {
	display: none;
}
.aacsb_area_top_100 {
	display: none;
}

.memory_area {
	display: none;
}
.navbar-toggle {
	position: absolute;
	right: -13px;
	top: -50px;
}
#spotlight_area {
	bottom: 0;
}
.spotlight_title_link {
	padding-top: 10px;
}
#spotlight_title_area {
	width: 300px;
}
#main_spotlight {
	width: 450px;
}
.spotlight_more {
	bottom: 4px;
}
#y_footer {
	font-size: 10px;
}
#main_spotlight {
	padding-left: 10px;
}
#js-mainnav #js-meganav ul.level1 li:nth-child(9) {
	display: block !important;
}
#js-mainnav #js-meganav ul.level1 li:nth-child(10) {
	display: block !important;
}
#js-mainnav #js-meganav ul.level1 li:nth-child(11) {
	display: block !important;
}
#js-mainnav #js-meganav ul.level1 li:nth-child(12) {
	display: block !important;
}
#js-mainnav #js-meganav ul.level1 li:nth-child(13) {
	display: block !important;
}
#js-mainnav #js-meganav ul.level1 li:nth-child(14) {
	display: block !important;
}
#js-mainnav #js-meganav ul.level1 li:nth-child(15) {
	display: block !important;
}
#js-mainnav #js-meganav ul.level1 li:nth-child(16) {
	display: block !important;
}
#js-mainnav #js-meganav ul.level1 li:nth-child(17) {
	display: block !important;
}
#js-mainnav #js-meganav ul.level1 li:nth-child(18) {
	display: block !important;
}
#js-mainnav #js-meganav ul.level1 li:nth-child(19) {
	display: block !important;
}
#js-mainnav #js-meganav ul.level1 li:nth-child(20) {
	display: block !important;
}
#js-mainnav #js-meganav ul.level1 li:nth-child(21) {
	display: block !important;
}
#js-mainnav #js-meganav ul.level1 li:nth-child(22) {
	display: block !important;
}
#js-mainnav #js-meganav ul.level1 li:nth-child(23) {
	display: block !important;
}
#js-mainnav #js-meganav ul.level1 li:nth-child(24) {
	display: block !important;
}
#js-mainnav #js-meganav ul.level1 li:nth-child(25) {
	display: block !important;
}
#js-mainnav #js-meganav ul.level0 li:nth-child(9) {
	display: block !important;
}
#js-mainnav #js-meganav ul.level0 li:nth-child(10) {
	display: block !important;
}
#js-mainnav #js-meganav ul.level0 li:nth-child(11) {
	display: block !important;
}
#js-mainnav #js-meganav ul.level0 li:nth-child(12) {
	display: block !important;
}
#js-mainnav #js-meganav ul.level0 li:nth-child(13) {
	display: block !important;
}
#js-mainnav #js-meganav ul.level0 li:nth-child(14) {
	display: block !important;
}
#js-mainnav #js-meganav ul.level0 li:nth-child(15) {
	display: block !important;
}
#js-mainnav #js-meganav ul.level0 li:nth-child(16) {
	display: block !important;
}
#js-mainnav #js-meganav ul.level0 li:nth-child(17) {
	display: block !important;
}
#js-mainnav #js-meganav ul.level0 li:nth-child(18) {
	display: block !important;
}
#js-mainnav #js-meganav ul.level0 li:nth-child(19) {
	display: block !important;
}
#js-mainnav #js-meganav ul.level0 li:nth-child(20) {
	display: block !important;
}
#js-mainnav #js-meganav ul.level0 li:nth-child(21) {
	display: block !important;
}
#js-mainnav #js-meganav ul.level0 li:nth-child(22) {
	display: block !important;
}
#js-mainnav #js-meganav ul.level0 li:nth-child(23) {
	display: block !important;
}
#js-mainnav #js-meganav ul.level0 li:nth-child(24) {
	display: block !important;
}
#js-mainnav #js-meganav ul.level0 li:nth-child(25) {
	display: block !important;
}
}

@media (max-width: 768px) {
.hot_list_image {
	margin-left: 60px;
	padding-top: 30px;
	width: 93%;
}

#spotlight_top a {
	visibility: hidden;
}
.pagination {
	visibility: hidden;
}
.speech_image {
	max-height: 16px;
	max-width: 16px;
}
.youtube_image {
	max-height: 16px;
	max-width: 16px;
}
.facebook_image {
	max-height: 16px;
	max-width: 16px;
}
.top_menu {
	display: none;
}
.bg-logo-aacsb {
	display: none;
}
.top_menu_spotlight {
	display: none;
}
.aacsb_area_top_100 {
	display: none;
}
.memory_area {
	display: none;
}
#js-mainnav.megamenu.blackwhite ul.level0 li.mega span.mega, #js-mainnav.megamenu.blackwhite ul.level0 li.mega a.mega, #js-mainnav.megamenu.blackwhite .megaMenuToggle {
	padding: 12px 0 14px 30px;
}
.navbar-toggle {
	position: absolute;
	right: -13px;
	top: -50px;
}
#js-mainnav.megamenu ul.level0 li.haschild span.arrow-icon {
	margin-right: 10px !important;
}
#main_spotlight {
	width: 100%;
	padding: 5px;
}
.spotlight_more {
	width: 80px;
	padding-right: 10px;
}
.news_category {
	display: none;
}
.mostread_hot_link {
	display: none;
}
.latestnews_news_area li {
	width: 47%;
}
ul.latestnews_news_area {
	padding-top: 25px !important;
	margin-left: 68px;
}
#y_footer {
	padding-top: 3px;
}
.event_list_area {
	width: 50%;
	float: left;
}
.div_event_title {
	width: 48%;
}
.nevent_area_image {
	width: 100%;
}
.fax {
	display: none;
}
#y_footer {
	height: 20px;
}
.latestnews_event_area {
	width: 40%;
}
#spotlight_list {
	display: none;
}
#yuntech-menu {
}
#yuntech_spotlight {
}
#js-mainnav ul li:nth-child(9) {
	display: block !important;
}
#js-mainnav ul li:nth-child(10) {
	display: block !important;
}
#js-mainnav ul li:nth-child(11) {
	display: block !important;
}
#js-mainnav ul li:nth-child(12) {
	display: block !important;
}
#js-mainnav ul li:nth-child(13) {
	display: block !important;
}
#js-mainnav ul li:nth-child(14) {
	display: block !important;
}
#js-mainnav ul li:nth-child(15) {
	display: block !important;
}
#js-mainnav ul li:nth-child(16) {
	display: block !important;
}
#js-mainnav ul li:nth-child(17) {
	display: block !important;
}
#js-mainnav ul li:nth-child(18) {
	display: block !important;
}
#js-mainnav ul li:nth-child(19) {
	display: block !important;
}
#js-mainnav ul li:nth-child(20) {
	display: block !important;
}
#js-mainnav ul li:nth-child(21) {
	display: block !important;
}
#js-mainnav ul li:nth-child(22) {
	display: block !important;
}
#js-mainnav ul li:nth-child(23) {
	display: block !important;
}
#js-mainnav ul li:nth-child(24) {
	display: block !important;
}
#js-mainnav ul li:nth-child(25) {
	display: block !important;
}
#y_footer {
	font-size: 10px;
}
}

@media (max-width: 481px) {
#main_spotlight {
	padding-top: 0;
}
#main_spotlight {
	padding-top: 0;
}
#js-mainnav #js-meganav ul.level1 li:nth-child(9) {
	display: block !important;
}
#js-mainnav #js-meganav ul.level1 li:nth-child(10) {
	display: block !important;
}
#js-mainnav #js-meganav ul.level1 li:nth-child(11) {
	display: block !important;
}
#js-mainnav #js-meganav ul.level1 li:nth-child(12) {
	display: block !important;
}
#js-mainnav #js-meganav ul.level1 li:nth-child(13) {
	display: block !important;
}
#js-mainnav #js-meganav ul.level1 li:nth-child(14) {
	display: block !important;
}
#js-mainnav #js-meganav ul.level1 li:nth-child(15) {
	display: block !important;
}
#js-mainnav #js-meganav ul.level1 li:nth-child(16) {
	display: block !important;
}
#js-mainnav #js-meganav ul.level1 li:nth-child(17) {
	display: block !important;
}
#js-mainnav #js-meganav ul.level1 li:nth-child(18) {
	display: block !important;
}
#js-mainnav #js-meganav ul.level1 li:nth-child(19) {
	display: block !important;
}
#js-mainnav #js-meganav ul.level1 li:nth-child(20) {
	display: block !important;
}
#js-mainnav #js-meganav ul.level1 li:nth-child(21) {
	display: block !important;
}
#js-mainnav #js-meganav ul.level1 li:nth-child(22) {
	display: block !important;
}
#js-mainnav #js-meganav ul.level1 li:nth-child(23) {
	display: block !important;
}
#js-mainnav #js-meganav ul.level1 li:nth-child(24) {
	display: block !important;
}
#js-mainnav #js-meganav ul.level1 li:nth-child(25) {
	display: block !important;
}
#js-mainnav #js-meganav ul.level0 li:nth-child(9) {
	display: block !important;
}
#js-mainnav #js-meganav ul.level0 li:nth-child(10) {
	display: block !important;
}
#js-mainnav #js-meganav ul.level0 li:nth-child(11) {
	display: block !important;
}
#js-mainnav #js-meganav ul.level0 li:nth-child(12) {
	display: block !important;
}
#js-mainnav #js-meganav ul.level0 li:nth-child(13) {
	display: block !important;
}
#js-mainnav #js-meganav ul.level0 li:nth-child(14) {
	display: block !important;
}
#js-mainnav #js-meganav ul.level0 li:nth-child(15) {
	display: block !important;
}
#js-mainnav #js-meganav ul.level0 li:nth-child(16) {
	display: block !important;
}
#js-mainnav #js-meganav ul.level0 li:nth-child(17) {
	display: block !important;
}
#js-mainnav #js-meganav ul.level0 li:nth-child(18) {
	display: block !important;
}
#js-mainnav #js-meganav ul.level0 li:nth-child(19) {
	display: block !important;
}
#js-mainnav #js-meganav ul.level0 li:nth-child(20) {
	display: block !important;
}
#js-mainnav #js-meganav ul.level0 li:nth-child(21) {
	display: block !important;
}
#js-mainnav #js-meganav ul.level0 li:nth-child(22) {
	display: block !important;
}
#js-mainnav #js-meganav ul.level0 li:nth-child(23) {
	display: block !important;
}
#js-mainnav #js-meganav ul.level0 li:nth-child(24) {
	display: block !important;
}
#js-mainnav #js-meganav ul.level0 li:nth-child(25) {
	display: block !important;
}
}

@media (max-width: 640px) {
#spotlight_area {
	height: 78px;
}
#yuntech_spotlight {
	height: 80px;
}
.hot_list_image {
	margin-left: 90px;
	padding-top: 30px;
	width: 50%;
}
ul.hot_list_image li:nth-child(3) {
	display: none;
}
ul.hot_list_image li:nth-child(4) {
	display: none;
}
ul.hot_list_image li:nth-child(5) {
	display: none;
}
ul.hot_list_image li:nth-child(6) {
	display: none;
}
ul.hot_list_image li:nth-child(7) {
	display: none;
}
ul.hot_list_image li:nth-child(8) {
	display: none;
}
ul.hot_list_image li:nth-child(9) {
	display: none;
}
ul.hot_list_image li:nth-child(10) {
	display: none;
}
ul.hot_list_image li:nth-child(11) {
	display: none;
}
ul.hot_list_image li:nth-child(12) {
	display: none;
}
ul.hot_list_image li:nth-child(13) {
	display: none;
}
ul.hot_list_image li:nth-child(14) {
	display: none;
}
ul.hot_list_image li:nth-child(15) {
	display: none;
}
.speech_link {
	display: none;
}
.youtube_link {
	display: none;
}
#y_footer {
	font-size: 9px;
}
.facebook_link {
	display: none;
}
.menu_link_dept {
	right: 25px;
}
div.logo img {
	padding: 5px 0 5px 0;
	width: 210px;
	height: auto;
}
.container {
	padding-left: 5px;
	padding-right: 5px;
}
.event_cat_link {
	display: none;
}
.event_date {
	display: none;
}
.latestnews_news_area li {
	width: 88%;
}
.news_category {
	display: none;
}
.y_footer {
	font-size: 11px;
}
.latestnews_news_area {
	width: 95% !important;
}
ul.latestnews_news_area li:nth-child(3) {
	display: none;
}
.hot_news_area
{
	display: none;
	}
ul.latestnews_news_area li:nth-child(4) {
	display: none;
}
ul.latestnews_news_area li:nth-child(5) {
	display: none;
}
ul.latestnews_news_area li:nth-child(6) {
	display: none;
}
ul.latestnews_news_area li:nth-child(7) {
	display: none;
}
ul.latestnews_news_area li:nth-child(8) {
	display: none;
}
.latestnews_event_area {
	width: 65%;
}
ul.latestnews_news_area {
	margin-left: 68px;
	padding-top: 26px !important;
}
#main_spotlight {
	padding-top: 0;
}
a.spotlight_title_link:link, a.spotlight_title_link:visited {
	font-size: 20px;
}
a.spotlight_title_link:visited, a.spotlight_title_link, a.spotlight_title_link:hover, .spotlight_title_link {
	font-size: 20px;
}
#js-mainnav #js-meganav ul.level1 li:nth-child(9) {
	display: block !important;
}
#js-mainnav #js-meganav ul.level1 li:nth-child(10) {
	display: block !important;
}
#js-mainnav #js-meganav ul.level1 li:nth-child(11) {
	display: block !important;
}
#js-mainnav #js-meganav ul.level1 li:nth-child(12) {
	display: block !important;
}
#js-mainnav #js-meganav ul.level1 li:nth-child(13) {
	display: block !important;
}
#js-mainnav #js-meganav ul.level1 li:nth-child(14) {
	display: block !important;
}
#js-mainnav #js-meganav ul.level1 li:nth-child(15) {
	display: block !important;
}
#js-mainnav #js-meganav ul.level1 li:nth-child(16) {
	display: block !important;
}
#js-mainnav #js-meganav ul.level1 li:nth-child(17) {
	display: block !important;
}
#js-mainnav #js-meganav ul.level1 li:nth-child(18) {
	display: block !important;
}
#js-mainnav #js-meganav ul.level1 li:nth-child(19) {
	display: block !important;
}
#js-mainnav #js-meganav ul.level1 li:nth-child(20) {
	display: block !important;
}
#js-mainnav #js-meganav ul.level1 li:nth-child(21) {
	display: block !important;
}
#js-mainnav #js-meganav ul.level1 li:nth-child(22) {
	display: block !important;
}
#js-mainnav #js-meganav ul.level1 li:nth-child(23) {
	display: block !important;
}
#js-mainnav #js-meganav ul.level1 li:nth-child(24) {
	display: block !important;
}
#js-mainnav #js-meganav ul.level1 li:nth-child(25) {
	display: block !important;
}
#js-mainnav #js-meganav ul.level0 li:nth-child(9) {
	display: block !important;
}
#js-mainnav #js-meganav ul.level0 li:nth-child(10) {
	display: block !important;
}
#js-mainnav #js-meganav ul.level0 li:nth-child(11) {
	display: block !important;
}
#js-mainnav #js-meganav ul.level0 li:nth-child(12) {
	display: block !important;
}
#js-mainnav #js-meganav ul.level0 li:nth-child(13) {
	display: block !important;
}
#js-mainnav #js-meganav ul.level0 li:nth-child(14) {
	display: block !important;
}
#js-mainnav #js-meganav ul.level0 li:nth-child(15) {
	display: block !important;
}
#js-mainnav #js-meganav ul.level0 li:nth-child(16) {
	display: block !important;
}
#js-mainnav #js-meganav ul.level0 li:nth-child(17) {
	display: block !important;
}
#js-mainnav #js-meganav ul.level0 li:nth-child(18) {
	display: block !important;
}
#js-mainnav #js-meganav ul.level0 li:nth-child(19) {
	display: block !important;
}
#js-mainnav #js-meganav ul.level0 li:nth-child(20) {
	display: block !important;
}
#js-mainnav #js-meganav ul.level0 li:nth-child(21) {
	display: block !important;
}
#js-mainnav #js-meganav ul.level0 li:nth-child(22) {
	display: block !important;
}
#js-mainnav #js-meganav ul.level0 li:nth-child(23) {
	display: block !important;
}
#js-mainnav #js-meganav ul.level0 li:nth-child(24) {
	display: block !important;
}
#js-mainnav #js-meganav ul.level0 li:nth-child(25) {
	display: block !important;
}
.address_phone a {
	font-size: 11px;
}
}
